[defaults]
inventory = inventory/production.ini
host_key_checking = true
retry_files_enabled = false
interpreter_python = auto_silent
stdout_callback = default
bin_ansible_callbacks = true
forks = 10

[ssh_connection]
pipelining = true
